<div class="container image-background">
  <div class="row">
    <div class="presentation col-lg-6">
      <h1 id="welcome_title">FARMA-ALG <small style="color: white;"><%= @subdomain %></small></h1>
			<h2 class="welcome_subtitle"><b>Crie</b> e <b>disponibilize</b> objetos de aprendizagem para o ensino de programação de computadores.</h2>
      <h2 class="welcome_subtitle"><b>Manipule</b>, <b>classifique</b> e <b>entenda</b> as relações entre as repostas de seus alunos.</h2>
    </div>
  </div>
</div>
