<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "farma-alg #{@subdomain}", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Entrar", new_user_session_path %></li>
          <li><%= link_to "Registrar-se", new_user_registration_path %></li>
          <li><a href="http://www.br-ie.org/pub/index.php/sbie/article/view/3005">Saiba mais</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
