<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head_content" %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <div class="container clearfix">
      <%= yield %>
    </div>


    <%= render 'shared/footer' %>
  </body>
</html>
